{
  "openapi": "3.0.3",
  "info": {
    "title": "Givebutter API",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://api.givebutter.com/"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-default": "",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/v1/contacts/{id}": {
      "get": {
        "summary": "Get a Contact",
        "description": "Use this endpoint including an id to retrieve a specific contact.",
        "operationId": "get-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the contact to get.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 212,\n  \"first_name\": \"Veda\",\n  \"middle_name\": \"Madeline\",\n  \"last_name\": \"Torp\",\n  \"dob\": \"2006-05-29T00:00:00.000000Z\",\n  \"company\": \"Rice, Bartoletti and Gottlieb\",\n  \"title\": \"Hoist and Winch Operator\",\n  \"twitter_url\": \"https://twitter.com/notarealusername\",\n  \"linkedin_url\": null,\n  \"facebook_url\": null,\n  \"emails\": [\n    {\n      \"type\": \"personal\",\n      \"value\": \"ugleichner@gmail.com\"\n    },\n    {\n      \"type\": \"work\",\n      \"value\": \"botsford.ryan@carroll.biz\"\n    }\n  ],\n  \"phones\": [\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 661-298-3127\"\n    },\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 269-632-5090\"\n    }\n  ],\n  \"primary_email\": \"ugleichner@gmail.com\",\n  \"primary_phone\": \"+1 661-298-3127\",\n  \"note\": null,\n  \"addresses\": [\n    {\n      \"address_1\": \"521 Jaskolski Prairie\",\n      \"address_2\": \"Apt. 393\",\n      \"city\": \"West Leo\",\n      \"state\": \"UT\",\n      \"zipcode\": \"82639-5329\",\n      \"country\": \"GGY\",\n      \"type\": \"home\",\n      \"is_primary\": 1,\n      \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n      \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n    }\n  ],\n  \"primary_address\": {\n    \"address_1\": \"521 Jaskolski Prairie\",\n    \"address_2\": \"Apt. 393\",\n    \"city\": \"West Leo\",\n    \"state\": \"UT\",\n    \"zipcode\": \"82639-5329\",\n    \"country\": \"GGY\",\n    \"type\": \"home\",\n    \"is_primary\": 1,\n    \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n    \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n  },\n  \"stats\": {\n    \"recurring_contributions\": 0,\n    \"total_contributions\": 0\n  },\n  \"tags\": [\n    \"Warm Lead\", \n    \"Monthly Donor\"\n  ],\n  \"custom_fields\": [],\n  \"archived_at\": null,\n  \"created_at\": \"2021-09-17T13:52:13+00:00\",\n  \"updated_at\": \"2021-09-17T13:52:13+00:00\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 212,
                      "default": 0
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Veda"
                    },
                    "middle_name": {
                      "type": "string",
                      "example": "Madeline"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Torp"
                    },
                    "dob": {
                      "type": "string",
                      "example": "2006-05-29T00:00:00.000000Z"
                    },
                    "company": {
                      "type": "string",
                      "example": "Rice, Bartoletti and Gottlieb"
                    },
                    "title": {
                      "type": "string",
                      "example": "Hoist and Winch Operator"
                    },
                    "twitter_url": {
                      "type": "string",
                      "example": "https://twitter.com/notarealusername"
                    },
                    "linkedin_url": {},
                    "facebook_url": {},
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "personal"
                          },
                          "value": {
                            "type": "string",
                            "example": "ugleichner@gmail.com"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "value": {
                            "type": "string",
                            "example": "+1 661-298-3127"
                          }
                        }
                      }
                    },
                    "primary_email": {
                      "type": "string",
                      "example": "ugleichner@gmail.com"
                    },
                    "primary_phone": {
                      "type": "string",
                      "example": "+1 661-298-3127"
                    },
                    "note": {},
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "example": "521 Jaskolski Prairie"
                          },
                          "address_2": {
                            "type": "string",
                            "example": "Apt. 393"
                          },
                          "city": {
                            "type": "string",
                            "example": "West Leo"
                          },
                          "state": {
                            "type": "string",
                            "example": "UT"
                          },
                          "zipcode": {
                            "type": "string",
                            "example": "82639-5329"
                          },
                          "country": {
                            "type": "string",
                            "example": "GGY"
                          },
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "is_primary": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          }
                        }
                      }
                    },
                    "primary_address": {
                      "type": "object",
                      "properties": {
                        "address_1": {
                          "type": "string",
                          "example": "521 Jaskolski Prairie"
                        },
                        "address_2": {
                          "type": "string",
                          "example": "Apt. 393"
                        },
                        "city": {
                          "type": "string",
                          "example": "West Leo"
                        },
                        "state": {
                          "type": "string",
                          "example": "UT"
                        },
                        "zipcode": {
                          "type": "string",
                          "example": "82639-5329"
                        },
                        "country": {
                          "type": "string",
                          "example": "GGY"
                        },
                        "type": {
                          "type": "string",
                          "example": "home"
                        },
                        "is_primary": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "recurring_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Warm Lead"
                      }
                    },
                    "custom_fields": {
                      "type": "array"
                    },
                    "archived_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "summary": "Update Contact",
        "description": "All parameters available in the Create a Contact endpoint can be updated.",
        "operationId": "update-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the contact to update.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the contact."
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "The middle name of the contact."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the contact."
                  },
                  "dob": {
                    "type": "string",
                    "description": "The date of birth of the contact. The expected format is m/d/Y (e.g.: 4/17/1993)."
                  },
                  "company": {
                    "type": "string",
                    "description": "A company for the contact."
                  },
                  "title": {
                    "type": "string",
                    "description": "A title for the contact."
                  },
                  "twitter_url": {
                    "type": "string",
                    "description": "A Twitter URL for the contact."
                  },
                  "linkedin_url": {
                    "type": "string",
                    "description": "A LinkedIn URL for the contact."
                  },
                  "facebook_url": {
                    "type": "string",
                    "description": "A Facebook URL for the contact."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 212,\n  \"first_name\": \"Veda\",\n  \"middle_name\": \"Madeline\",\n  \"last_name\": \"Torp\",\n  \"dob\": \"2006-05-29T00:00:00.000000Z\",\n  \"company\": \"Rice, Bartoletti and Gottlieb\",\n  \"title\": \"Hoist and Winch Operator\",\n  \"twitter_url\": \"https://twitter.com/notarealusername\",\n  \"linkedin_url\": null,\n  \"facebook_url\": null,\n  \"emails\": [\n    {\n      \"type\": \"personal\",\n      \"value\": \"ugleichner@gmail.com\"\n    },\n    {\n      \"type\": \"work\",\n      \"value\": \"botsford.ryan@carroll.biz\"\n    }\n  ],\n  \"phones\": [\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 661-298-3127\"\n    },\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 269-632-5090\"\n    }\n  ],\n  \"primary_email\": \"ugleichner@gmail.com\",\n  \"primary_phone\": \"+1 661-298-3127\",\n  \"note\": null,\n  \"addresses\": [\n    {\n      \"address_1\": \"521 Jaskolski Prairie\",\n      \"address_2\": \"Apt. 393\",\n      \"city\": \"West Leo\",\n      \"state\": \"UT\",\n      \"zipcode\": \"82639-5329\",\n      \"country\": \"GGY\",\n      \"type\": \"home\",\n      \"is_primary\": 1,\n      \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n      \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n    }\n  ],\n  \"primary_address\": {\n    \"address_1\": \"521 Jaskolski Prairie\",\n    \"address_2\": \"Apt. 393\",\n    \"city\": \"West Leo\",\n    \"state\": \"UT\",\n    \"zipcode\": \"82639-5329\",\n    \"country\": \"GGY\",\n    \"type\": \"home\",\n    \"is_primary\": 1,\n    \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n    \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n  },\n  \"stats\": {\n    \"recurring_contributions\": 0,\n    \"total_contributions\": 0\n  },\n  \"tags\": [\n    \"Warm Lead\", \n    \"Monthly Donor\"\n  ],\n  \"custom_fields\": [],\n  \"archived_at\": null,\n  \"created_at\": \"2021-09-17T13:52:13+00:00\",\n  \"updated_at\": \"2021-09-17T13:52:13+00:00\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 212,
                      "default": 0
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Veda"
                    },
                    "middle_name": {
                      "type": "string",
                      "example": "Madeline"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Torp"
                    },
                    "dob": {
                      "type": "string",
                      "example": "2006-05-29T00:00:00.000000Z"
                    },
                    "company": {
                      "type": "string",
                      "example": "Rice, Bartoletti and Gottlieb"
                    },
                    "title": {
                      "type": "string",
                      "example": "Hoist and Winch Operator"
                    },
                    "twitter_url": {
                      "type": "string",
                      "example": "https://twitter.com/notarealusername"
                    },
                    "linkedin_url": {},
                    "facebook_url": {},
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "personal"
                          },
                          "value": {
                            "type": "string",
                            "example": "ugleichner@gmail.com"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "value": {
                            "type": "string",
                            "example": "+1 661-298-3127"
                          }
                        }
                      }
                    },
                    "primary_email": {
                      "type": "string",
                      "example": "ugleichner@gmail.com"
                    },
                    "primary_phone": {
                      "type": "string",
                      "example": "+1 661-298-3127"
                    },
                    "note": {},
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "example": "521 Jaskolski Prairie"
                          },
                          "address_2": {
                            "type": "string",
                            "example": "Apt. 393"
                          },
                          "city": {
                            "type": "string",
                            "example": "West Leo"
                          },
                          "state": {
                            "type": "string",
                            "example": "UT"
                          },
                          "zipcode": {
                            "type": "string",
                            "example": "82639-5329"
                          },
                          "country": {
                            "type": "string",
                            "example": "GGY"
                          },
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "is_primary": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          }
                        }
                      }
                    },
                    "primary_address": {
                      "type": "object",
                      "properties": {
                        "address_1": {
                          "type": "string",
                          "example": "521 Jaskolski Prairie"
                        },
                        "address_2": {
                          "type": "string",
                          "example": "Apt. 393"
                        },
                        "city": {
                          "type": "string",
                          "example": "West Leo"
                        },
                        "state": {
                          "type": "string",
                          "example": "UT"
                        },
                        "zipcode": {
                          "type": "string",
                          "example": "82639-5329"
                        },
                        "country": {
                          "type": "string",
                          "example": "GGY"
                        },
                        "type": {
                          "type": "string",
                          "example": "home"
                        },
                        "is_primary": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "recurring_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Warm Lead"
                      }
                    },
                    "custom_fields": {
                      "type": "array"
                    },
                    "archived_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Archive a Contact",
        "description": "Use this endpoint to delete a contact.",
        "operationId": "delete-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the contact to archive.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": ""
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/contacts": {
      "post": {
        "summary": "Create a Contact",
        "description": "Use this endpoint to create a new contact.",
        "operationId": "create-contact",
        "parameters": [
          {
            "name": "force_create",
            "in": "query",
            "description": "Whether or not to skip de-duplication logic when creating the contact.   The de-duplication process will determine whether the contact data being submitted is a duplicate of one of your existing contacts. If a duplicate is detected, the incoming data will be merged into the existing matched contact.  Passing `true` will skip de-duplication and forcibly create the contact (given the data is valid).   By default, de-duplication logic will be applied.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "first_name",
                  "last_name"
                ],
                "properties": {
                  "first_name": {
                    "type": "string",
                    "description": "The first name of the contact."
                  },
                  "middle_name": {
                    "type": "string",
                    "description": "The middle name of the contact."
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name of the contact."
                  },
                  "emails": {
                    "type": "array",
                    "description": "The email addresses that are associated with the contact (e.g.: `\"emails\": [{\"value\": \"mr@givebutter.com\", \"type\": \"personal\"}]`).",
                    "items": {
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The email address (e.g.: `mrbutter@givebutter.com`)."
                        },
                        "type": {
                          "type": "string",
                          "description": "The email type (options: `personal`, `work`).",
                          "enum": [
                            "personal",
                            "work"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "phones": {
                    "type": "array",
                    "description": "The phones numbers that are associated with the contact (e.g.: `\"phones\": [{\"value\": \"609-555-1234\", \"type\": \"cell\"}]`).",
                    "items": {
                      "properties": {
                        "value": {
                          "type": "string",
                          "description": "The phone number (e.g.: `609-555-1234`)."
                        },
                        "type": {
                          "type": "string",
                          "description": "The phone number type (options: `work`, `home, `cell`).",
                          "enum": [
                            "work",
                            "home",
                            "cell"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  },
                  "addresses": {
                    "type": "array",
                    "description": "The addresses that are associated with the contact (e.g.: `\"addresses\": [{\"address_1\": \"123 Sesame St\", \"address_2\": \"Suite 2B\", \"city\": \"New York City\", \"state\": \"NY\", \"zipcode\": \"10150\", \"country\": \"USA\"}]`).",
                    "items": {
                      "properties": {
                        "address_1": {
                          "type": "string",
                          "description": "The first line of the street address (e.g.: `123 Sesame St`)."
                        },
                        "address_2": {
                          "type": "string",
                          "description": "The second line of the street address (e.g.: `Suite #2A`)."
                        },
                        "city": {
                          "type": "string",
                          "description": "The city of the address (e.g.: `New York City`)."
                        },
                        "state": {
                          "type": "string",
                          "description": "The state's two-letter postal code (e.g.: `NY`)."
                        },
                        "zipcode": {
                          "type": "string",
                          "description": "The address's postal code (e.g.: `08001`)."
                        },
                        "country": {
                          "type": "string",
                          "description": "The address's country in three-letter ISO code format (e.g.: `USA`)."
                        }
                      },
                      "type": "object"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "description": "The tags on the contact (e.g.: `\"tags\": [\"VIP Donor\", \"Monthly Donor\"]`).",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dob": {
                    "type": "string",
                    "description": "Date of birth for the contact. The expected format is `m/d/Y` (e.g.: `4/17/1993`)."
                  },
                  "company": {
                    "type": "string",
                    "description": "A company for the contact."
                  },
                  "title": {
                    "type": "string",
                    "description": "A title for the contact."
                  },
                  "twitter_url": {
                    "type": "string",
                    "description": "A Twitter URL for the contact."
                  },
                  "linkedin_url": {
                    "type": "string",
                    "description": "A LinkedIn URL for the contact."
                  },
                  "facebook_url": {
                    "type": "string",
                    "description": "A Facebook URL for the contact."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 212,\n  \"first_name\": \"Veda\",\n  \"middle_name\": \"Madeline\",\n  \"last_name\": \"Torp\",\n  \"dob\": \"2006-05-29T00:00:00.000000Z\",\n  \"company\": \"Rice, Bartoletti and Gottlieb\",\n  \"title\": \"Hoist and Winch Operator\",\n  \"twitter_url\": \"https://twitter.com/notarealusername\",\n  \"linkedin_url\": null,\n  \"facebook_url\": null,\n  \"emails\": [\n    {\n      \"type\": \"personal\",\n      \"value\": \"ugleichner@gmail.com\"\n    },\n    {\n      \"type\": \"work\",\n      \"value\": \"botsford.ryan@carroll.biz\"\n    }\n  ],\n  \"phones\": [\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 661-298-3127\"\n    },\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 269-632-5090\"\n    }\n  ],\n  \"primary_email\": \"ugleichner@gmail.com\",\n  \"primary_phone\": \"+1 661-298-3127\",\n  \"note\": null,\n  \"addresses\": [\n    {\n      \"address_1\": \"521 Jaskolski Prairie\",\n      \"address_2\": \"Apt. 393\",\n      \"city\": \"West Leo\",\n      \"state\": \"UT\",\n      \"zipcode\": \"82639-5329\",\n      \"country\": \"GGY\",\n      \"type\": \"home\",\n      \"is_primary\": 1,\n      \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n      \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n    }\n  ],\n  \"primary_address\": {\n    \"address_1\": \"521 Jaskolski Prairie\",\n    \"address_2\": \"Apt. 393\",\n    \"city\": \"West Leo\",\n    \"state\": \"UT\",\n    \"zipcode\": \"82639-5329\",\n    \"country\": \"GGY\",\n    \"type\": \"home\",\n    \"is_primary\": 1,\n    \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n    \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n  },\n  \"stats\": {\n    \"recurring_contributions\": 0,\n    \"total_contributions\": 0\n  },\n  \"tags\": [\n    \"Warm Lead\", \n    \"Monthly Donor\"\n  ],\n  \"custom_fields\": [],\n  \"archived_at\": null,\n  \"created_at\": \"2021-09-17T13:52:13+00:00\",\n  \"updated_at\": \"2021-09-17T13:52:13+00:00\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 212,
                      "default": 0
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Veda"
                    },
                    "middle_name": {
                      "type": "string",
                      "example": "Madeline"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Torp"
                    },
                    "dob": {
                      "type": "string",
                      "example": "2006-05-29T00:00:00.000000Z"
                    },
                    "company": {
                      "type": "string",
                      "example": "Rice, Bartoletti and Gottlieb"
                    },
                    "title": {
                      "type": "string",
                      "example": "Hoist and Winch Operator"
                    },
                    "twitter_url": {
                      "type": "string",
                      "example": "https://twitter.com/notarealusername"
                    },
                    "linkedin_url": {},
                    "facebook_url": {},
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "personal"
                          },
                          "value": {
                            "type": "string",
                            "example": "ugleichner@gmail.com"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "value": {
                            "type": "string",
                            "example": "+1 661-298-3127"
                          }
                        }
                      }
                    },
                    "primary_email": {
                      "type": "string",
                      "example": "ugleichner@gmail.com"
                    },
                    "primary_phone": {
                      "type": "string",
                      "example": "+1 661-298-3127"
                    },
                    "note": {},
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "example": "521 Jaskolski Prairie"
                          },
                          "address_2": {
                            "type": "string",
                            "example": "Apt. 393"
                          },
                          "city": {
                            "type": "string",
                            "example": "West Leo"
                          },
                          "state": {
                            "type": "string",
                            "example": "UT"
                          },
                          "zipcode": {
                            "type": "string",
                            "example": "82639-5329"
                          },
                          "country": {
                            "type": "string",
                            "example": "GGY"
                          },
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "is_primary": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          }
                        }
                      }
                    },
                    "primary_address": {
                      "type": "object",
                      "properties": {
                        "address_1": {
                          "type": "string",
                          "example": "521 Jaskolski Prairie"
                        },
                        "address_2": {
                          "type": "string",
                          "example": "Apt. 393"
                        },
                        "city": {
                          "type": "string",
                          "example": "West Leo"
                        },
                        "state": {
                          "type": "string",
                          "example": "UT"
                        },
                        "zipcode": {
                          "type": "string",
                          "example": "82639-5329"
                        },
                        "country": {
                          "type": "string",
                          "example": "GGY"
                        },
                        "type": {
                          "type": "string",
                          "example": "home"
                        },
                        "is_primary": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "recurring_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Warm Lead"
                      }
                    },
                    "custom_fields": {
                      "type": "array"
                    },
                    "archived_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "get": {
        "summary": "Get Contacts",
        "description": "Use this endpoint to retrieve a list of contacts.",
        "operationId": "get-contacts",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of contacts to retrieve: `active` (default) - Includes contacts that have not been archived. `all` - Includes all contacts regardless of archived status. `archived` - Only includes contacts that have been archived.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 212,\n      \"first_name\": \"Veda\",\n      \"middle_name\": \"Madeline\",\n      \"last_name\": \"Torp\",\n      \"dob\": \"2006-05-29T00:00:00.000000Z\",\n      \"company\": \"Rice, Bartoletti and Gottlieb\",\n      \"title\": \"Hoist and Winch Operator\",\n      \"twitter_url\": \"https://twitter.com/notarealusername\",\n      \"linkedin_url\": null,\n      \"facebook_url\": null,\n      \"emails\": [\n        {\n          \"type\": \"personal\",\n          \"value\": \"ugleichner@gmail.com\"\n        },\n        {\n          \"type\": \"work\",\n          \"value\": \"botsford.ryan@carroll.biz\"\n        }\n      ],\n      \"phones\": [\n        {\n          \"type\": \"home\",\n          \"value\": \"+1 661-298-3127\"\n        },\n        {\n          \"type\": \"home\",\n          \"value\": \"+1 269-632-5090\"\n        }\n      ],\n      \"primary_email\": \"ugleichner@gmail.com\",\n      \"primary_phone\": \"+1 661-298-3127\",\n      \"note\": null,\n      \"addresses\": [\n        {\n          \"address_1\": \"521 Jaskolski Prairie\",\n          \"address_2\": \"Apt. 393\",\n          \"city\": \"West Leo\",\n          \"state\": \"UT\",\n          \"zipcode\": \"82639-5329\",\n          \"country\": \"GGY\",\n          \"type\": \"home\",\n          \"is_primary\": 1,\n          \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n          \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n        }\n      ],\n      \"primary_address\": {\n        \"address_1\": \"521 Jaskolski Prairie\",\n        \"address_2\": \"Apt. 393\",\n        \"city\": \"West Leo\",\n        \"state\": \"UT\",\n        \"zipcode\": \"82639-5329\",\n        \"country\": \"GGY\",\n        \"type\": \"home\",\n        \"is_primary\": 1,\n        \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n        \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n      },\n      \"stats\": {\n        \"recurring_contributions\": 0,\n        \"total_contributions\": 0\n      },\n      \"tags\": [\n        \"Warm Lead\", \n        \"Monthly Donor\"\n      ],\n      \"custom_fields\": [],\n      \"archived_at\": null,\n      \"created_at\": \"2021-09-17T13:52:13+00:00\",\n      \"updated_at\": \"2021-09-17T13:52:13+00:00\"\n    }\n  ],\n  \"links\": {\n    \"first\": \"https://api.givebutter.com/v1/contacts?page=1\",\n    \"last\": \"https://api.givebutter.com/v1/contacts?page=1\",\n    \"prev\": null,\n    \"next\": null\n  },\n  \"meta\": {\n    \"current_page\": 1,\n    \"from\": 1,\n    \"last_page\": 1,\n    \"links\": [\n      {\n        \"url\": null,\n        \"label\": \"&laquo; Previous\",\n        \"active\": false\n      },\n      {\n        \"url\": \"https://api.givebutter.com/v1/contacts?page=1\",\n        \"label\": \"1\",\n        \"active\": true\n      },\n      {\n        \"url\": null,\n        \"label\": \"Next &raquo;\",\n        \"active\": false\n      }\n    ],\n    \"path\": \"https://api.givebutter.com/v1/contacts\",\n    \"per_page\": 20,\n    \"to\": 1,\n    \"total\": 1\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 212,
                            "default": 0
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Veda"
                          },
                          "middle_name": {
                            "type": "string",
                            "example": "Madeline"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Torp"
                          },
                          "dob": {
                            "type": "string",
                            "example": "2006-05-29T00:00:00.000000Z"
                          },
                          "company": {
                            "type": "string",
                            "example": "Rice, Bartoletti and Gottlieb"
                          },
                          "title": {
                            "type": "string",
                            "example": "Hoist and Winch Operator"
                          },
                          "twitter_url": {
                            "type": "string",
                            "example": "https://twitter.com/notarealusername"
                          },
                          "linkedin_url": {},
                          "facebook_url": {},
                          "emails": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "personal"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "ugleichner@gmail.com"
                                }
                              }
                            }
                          },
                          "phones": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "example": "home"
                                },
                                "value": {
                                  "type": "string",
                                  "example": "+1 661-298-3127"
                                }
                              }
                            }
                          },
                          "primary_email": {
                            "type": "string",
                            "example": "ugleichner@gmail.com"
                          },
                          "primary_phone": {
                            "type": "string",
                            "example": "+1 661-298-3127"
                          },
                          "note": {},
                          "addresses": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "address_1": {
                                  "type": "string",
                                  "example": "521 Jaskolski Prairie"
                                },
                                "address_2": {
                                  "type": "string",
                                  "example": "Apt. 393"
                                },
                                "city": {
                                  "type": "string",
                                  "example": "West Leo"
                                },
                                "state": {
                                  "type": "string",
                                  "example": "UT"
                                },
                                "zipcode": {
                                  "type": "string",
                                  "example": "82639-5329"
                                },
                                "country": {
                                  "type": "string",
                                  "example": "GGY"
                                },
                                "type": {
                                  "type": "string",
                                  "example": "home"
                                },
                                "is_primary": {
                                  "type": "integer",
                                  "example": 1,
                                  "default": 0
                                },
                                "created_at": {
                                  "type": "string",
                                  "example": "2021-09-17T13:52:13.000000Z"
                                },
                                "updated_at": {
                                  "type": "string",
                                  "example": "2021-09-17T13:52:13.000000Z"
                                }
                              }
                            }
                          },
                          "primary_address": {
                            "type": "object",
                            "properties": {
                              "address_1": {
                                "type": "string",
                                "example": "521 Jaskolski Prairie"
                              },
                              "address_2": {
                                "type": "string",
                                "example": "Apt. 393"
                              },
                              "city": {
                                "type": "string",
                                "example": "West Leo"
                              },
                              "state": {
                                "type": "string",
                                "example": "UT"
                              },
                              "zipcode": {
                                "type": "string",
                                "example": "82639-5329"
                              },
                              "country": {
                                "type": "string",
                                "example": "GGY"
                              },
                              "type": {
                                "type": "string",
                                "example": "home"
                              },
                              "is_primary": {
                                "type": "integer",
                                "example": 1,
                                "default": 0
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2021-09-17T13:52:13.000000Z"
                              },
                              "updated_at": {
                                "type": "string",
                                "example": "2021-09-17T13:52:13.000000Z"
                              }
                            }
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "recurring_contributions": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "total_contributions": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              }
                            }
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "Warm Lead"
                            }
                          },
                          "custom_fields": {
                            "type": "array"
                          },
                          "archived_at": {},
                          "created_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13+00:00"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13+00:00"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/contacts?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/contacts?page=1"
                        },
                        "prev": {},
                        "next": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "from": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "example": "&laquo; Previous"
                              },
                              "active": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/contacts"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 20,
                          "default": 0
                        },
                        "to": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/campaigns": {
      "get": {
        "summary": "Get Campaigns",
        "description": "Use this endpoint to retrieve a list of your campaigns.",
        "operationId": "get-campaigns",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "The scope of campaigns to retrieve:  `null` to retrieve only your account's campaigns. `benefiting` to retrieve campaigns of which you are the beneficiary. `chapters` to retrieve campaigns owned by chapters under your account. `all` to retrieve all campaigns related to your account.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Campaign successfully retrieved. ": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": 123,\n      \"account_id\": \"tFojY6OML6xZF521\",\n      \"type\": \"collect\",\n      \"title\": \"Giving Tuesday Fundraising Campaign\",\n      \"subtitle\": null,\n      \"description\": \"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>\",\n      \"slug\": \"74XqKK\",\n      \"url\": \"https://givebutter.com/example\",\n      \"goal\": 10000,\n      \"raised\": 4013,\n      \"donors\": 591,\n      \"currency\": \"USD\",\n      \"logo\": \"https://givebutter.com/...\",\n      \"cover\": {\n        \"type\": \"image\",\n        \"url\": \"https://givebutter.com/...\",\n        \"source\": \"upload\"\n      },\n      \"end_at\": null,\n      \"created_at\": \"2021-05-05 04:26:31\",\n      \"updated_at\": \"2021-05-15 16:57:47\",\n      \"event\": {\n        \"title\": \"Giving Tuesday Danceathon\",\n        \"type\": \"hybrid\",\n        \"location_name\": null,\n        \"address_formatted\": null,\n        \"google_place_id\": null,\n        \"start_at\": null,\n        \"end_at\": null,\n        \"timezone\": \"America/Denver\",\n        \"details\": \"Dance-a-thon fundraising campaign\",\n        \"private\": false,\n        \"tickets_required\": false,\n        \"livestream\": {\n          \"url\": \"https://vimeo.com/...\",\n          \"type\": \"video\",\n          \"location\": \"givebutter\",\n          \"platform\": \"vimeo\",\n          \"embed_url\": \"https://player.vimeo.com/video/...\",\n          \"scheduled\": false\n        },\n        \"livestream_start_at\": \"2021-03-26 13:04:00\",\n        \"livestream_end_at\": null\n      }\n    }\n  ],\n  \"links\": {\n    \"first\": \"https://api.givebutter.com/v1/campaigns?page=1\",\n    \"last\": \"https://api.givebutter.com/v1/campaigns?page=1\",\n    \"prev\": null,\n    \"next\": null\n  },\n  \"meta\": {\n    \"current_page\": 1,\n    \"from\": 1,\n    \"last_page\": 1,\n    \"links\": [\n      {\n        \"url\": null,\n        \"label\": \"&laquo; Previous\",\n        \"active\": false\n      },\n      {\n        \"url\": \"https://api.givebutter.com/v1/campaigns?page=1\",\n        \"label\": \"1\",\n        \"active\": true\n      },\n      {\n        \"url\": null,\n        \"label\": \"Next &raquo;\",\n        \"active\": false\n      }\n    ],\n    \"path\": \"https://api.givebutter.com/v1/campaigns\",\n    \"per_page\": 20,\n    \"to\": 1,\n    \"total\": 1,\n    \"unfiltered_total\": 8\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "example": 123,
                            "default": 0
                          },
                          "account_id": {
                            "type": "string",
                            "example": "tFojY6OML6xZF521"
                          },
                          "type": {
                            "type": "string",
                            "example": "collect"
                          },
                          "title": {
                            "type": "string",
                            "example": "Giving Tuesday Fundraising Campaign"
                          },
                          "subtitle": {},
                          "description": {
                            "type": "string",
                            "example": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
                          },
                          "slug": {
                            "type": "string",
                            "example": "74XqKK"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://givebutter.com/example"
                          },
                          "goal": {
                            "type": "integer",
                            "example": 10000,
                            "default": 0
                          },
                          "raised": {
                            "type": "integer",
                            "example": 4013,
                            "default": 0
                          },
                          "donors": {
                            "type": "integer",
                            "example": 591,
                            "default": 0
                          },
                          "currency": {
                            "type": "string",
                            "example": "USD"
                          },
                          "logo": {
                            "type": "string",
                            "example": "https://givebutter.com/..."
                          },
                          "cover": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "image"
                              },
                              "url": {
                                "type": "string",
                                "example": "https://givebutter.com/..."
                              },
                              "source": {
                                "type": "string",
                                "example": "upload"
                              }
                            }
                          },
                          "end_at": {},
                          "created_at": {
                            "type": "string",
                            "example": "2021-05-05 04:26:31"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-05-15 16:57:47"
                          },
                          "event": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "example": "Giving Tuesday Danceathon"
                              },
                              "type": {
                                "type": "string",
                                "example": "hybrid"
                              },
                              "location_name": {},
                              "address_formatted": {},
                              "google_place_id": {},
                              "start_at": {},
                              "end_at": {},
                              "timezone": {
                                "type": "string",
                                "example": "America/Denver"
                              },
                              "details": {
                                "type": "string",
                                "example": "Dance-a-thon fundraising campaign"
                              },
                              "private": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "tickets_required": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              },
                              "livestream": {
                                "type": "object",
                                "properties": {
                                  "url": {
                                    "type": "string",
                                    "example": "https://vimeo.com/..."
                                  },
                                  "type": {
                                    "type": "string",
                                    "example": "video"
                                  },
                                  "location": {
                                    "type": "string",
                                    "example": "givebutter"
                                  },
                                  "platform": {
                                    "type": "string",
                                    "example": "vimeo"
                                  },
                                  "embed_url": {
                                    "type": "string",
                                    "example": "https://player.vimeo.com/video/..."
                                  },
                                  "scheduled": {
                                    "type": "boolean",
                                    "example": false,
                                    "default": true
                                  }
                                }
                              },
                              "livestream_start_at": {
                                "type": "string",
                                "example": "2021-03-26 13:04:00"
                              },
                              "livestream_end_at": {}
                            }
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/campaigns?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/campaigns?page=1"
                        },
                        "prev": {},
                        "next": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "from": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "example": "&laquo; Previous"
                              },
                              "active": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/campaigns"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 20,
                          "default": 0
                        },
                        "to": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "unfiltered_total": {
                          "type": "integer",
                          "example": 8,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create a Campaign",
        "description": "Use this endpoint to create a new campaign.",
        "operationId": "create-campaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "An HTML formatted description for the campaign."
                  },
                  "end_at": {
                    "type": "string",
                    "description": "A UTC formatted datetime string for the end date and time of the campaign. Ex: `2019-01-01 20:30:00`"
                  },
                  "goal": {
                    "type": "integer",
                    "description": "A goal for the campaign.",
                    "format": "int32"
                  },
                  "subtitle": {
                    "type": "string",
                    "description": "A subtitle for the campaign."
                  },
                  "slug": {
                    "type": "string",
                    "description": "The URL slug to be used for this campaign. If none is provided, we will generate one automatically."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the campaign."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type type of campaign to be created. Supported options are: `collect`, `fundraise`, `event`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": 123,\n    \"account_id\": \"tFojY6OML6xZF521\",\n    \"type\": \"collect\",\n    \"title\": \"Giving Tuesday Fundraising Campaign\",\n    \"subtitle\": null,\n    \"description\": \"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>\",\n    \"slug\": \"74XqKK\",\n    \"url\": \"https://givebutter.com/example\",\n    \"goal\": 10000,\n    \"raised\": 4013,\n    \"donors\": 591,\n    \"currency\": \"USD\",\n    \"logo\": \"https://givebutter.com/...\",\n    \"cover\": {\n        \"type\": \"image\",\n        \"url\": \"https://givebutter.com/...\",\n        \"source\": \"upload\"\n    },\n    \"end_at\": null,\n    \"created_at\": \"2020-05-05 04:26:31\",\n    \"updated_at\": \"2020-05-15 16:57:47\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 123,
                      "default": 0
                    },
                    "account_id": {
                      "type": "string",
                      "example": "tFojY6OML6xZF521"
                    },
                    "type": {
                      "type": "string",
                      "example": "collect"
                    },
                    "title": {
                      "type": "string",
                      "example": "Giving Tuesday Fundraising Campaign"
                    },
                    "subtitle": {},
                    "description": {
                      "type": "string",
                      "example": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
                    },
                    "slug": {
                      "type": "string",
                      "example": "74XqKK"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://givebutter.com/example"
                    },
                    "goal": {
                      "type": "integer",
                      "example": 10000,
                      "default": 0
                    },
                    "raised": {
                      "type": "integer",
                      "example": 4013,
                      "default": 0
                    },
                    "donors": {
                      "type": "integer",
                      "example": 591,
                      "default": 0
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    },
                    "logo": {
                      "type": "string",
                      "example": "https://givebutter.com/..."
                    },
                    "cover": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "example": "image"
                        },
                        "url": {
                          "type": "string",
                          "example": "https://givebutter.com/..."
                        },
                        "source": {
                          "type": "string",
                          "example": "upload"
                        }
                      }
                    },
                    "end_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2020-05-05 04:26:31"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2020-05-15 16:57:47"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/contacts/{id}/restore": {
      "patch": {
        "summary": "Restore a Contact",
        "description": "Use this endpoint to restore a contact.",
        "operationId": "restore-contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the contact to restore.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": 212,\n  \"first_name\": \"Veda\",\n  \"middle_name\": \"Madeline\",\n  \"last_name\": \"Torp\",\n  \"dob\": \"2006-05-29T00:00:00.000000Z\",\n  \"company\": \"Rice, Bartoletti and Gottlieb\",\n  \"title\": \"Hoist and Winch Operator\",\n  \"twitter_url\": \"https://twitter.com/notarealusername\",\n  \"linkedin_url\": null,\n  \"facebook_url\": null,\n  \"emails\": [\n    {\n      \"type\": \"personal\",\n      \"value\": \"ugleichner@gmail.com\"\n    },\n    {\n      \"type\": \"work\",\n      \"value\": \"botsford.ryan@carroll.biz\"\n    }\n  ],\n  \"phones\": [\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 661-298-3127\"\n    },\n    {\n      \"type\": \"home\",\n      \"value\": \"+1 269-632-5090\"\n    }\n  ],\n  \"primary_email\": \"ugleichner@gmail.com\",\n  \"primary_phone\": \"+1 661-298-3127\",\n  \"note\": null,\n  \"addresses\": [\n    {\n      \"address_1\": \"521 Jaskolski Prairie\",\n      \"address_2\": \"Apt. 393\",\n      \"city\": \"West Leo\",\n      \"state\": \"UT\",\n      \"zipcode\": \"82639-5329\",\n      \"country\": \"GGY\",\n      \"type\": \"home\",\n      \"is_primary\": 1,\n      \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n      \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n    }\n  ],\n  \"primary_address\": {\n    \"address_1\": \"521 Jaskolski Prairie\",\n    \"address_2\": \"Apt. 393\",\n    \"city\": \"West Leo\",\n    \"state\": \"UT\",\n    \"zipcode\": \"82639-5329\",\n    \"country\": \"GGY\",\n    \"type\": \"home\",\n    \"is_primary\": 1,\n    \"created_at\": \"2021-09-17T13:52:13.000000Z\",\n    \"updated_at\": \"2021-09-17T13:52:13.000000Z\"\n  },\n  \"stats\": {\n    \"recurring_contributions\": 0,\n    \"total_contributions\": 0\n  },\n  \"tags\": [\n    \"Warm Lead\", \n    \"Monthly Donor\"\n  ],\n  \"custom_fields\": [],\n  \"archived_at\": null,\n  \"created_at\": \"2021-09-17T13:52:13+00:00\",\n  \"updated_at\": \"2021-09-17T13:52:13+00:00\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "example": 212,
                      "default": 0
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Veda"
                    },
                    "middle_name": {
                      "type": "string",
                      "example": "Madeline"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Torp"
                    },
                    "dob": {
                      "type": "string",
                      "example": "2006-05-29T00:00:00.000000Z"
                    },
                    "company": {
                      "type": "string",
                      "example": "Rice, Bartoletti and Gottlieb"
                    },
                    "title": {
                      "type": "string",
                      "example": "Hoist and Winch Operator"
                    },
                    "twitter_url": {
                      "type": "string",
                      "example": "https://twitter.com/notarealusername"
                    },
                    "linkedin_url": {},
                    "facebook_url": {},
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "personal"
                          },
                          "value": {
                            "type": "string",
                            "example": "ugleichner@gmail.com"
                          }
                        }
                      }
                    },
                    "phones": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "value": {
                            "type": "string",
                            "example": "+1 661-298-3127"
                          }
                        }
                      }
                    },
                    "primary_email": {
                      "type": "string",
                      "example": "ugleichner@gmail.com"
                    },
                    "primary_phone": {
                      "type": "string",
                      "example": "+1 661-298-3127"
                    },
                    "note": {},
                    "addresses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address_1": {
                            "type": "string",
                            "example": "521 Jaskolski Prairie"
                          },
                          "address_2": {
                            "type": "string",
                            "example": "Apt. 393"
                          },
                          "city": {
                            "type": "string",
                            "example": "West Leo"
                          },
                          "state": {
                            "type": "string",
                            "example": "UT"
                          },
                          "zipcode": {
                            "type": "string",
                            "example": "82639-5329"
                          },
                          "country": {
                            "type": "string",
                            "example": "GGY"
                          },
                          "type": {
                            "type": "string",
                            "example": "home"
                          },
                          "is_primary": {
                            "type": "integer",
                            "example": 1,
                            "default": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          },
                          "updated_at": {
                            "type": "string",
                            "example": "2021-09-17T13:52:13.000000Z"
                          }
                        }
                      }
                    },
                    "primary_address": {
                      "type": "object",
                      "properties": {
                        "address_1": {
                          "type": "string",
                          "example": "521 Jaskolski Prairie"
                        },
                        "address_2": {
                          "type": "string",
                          "example": "Apt. 393"
                        },
                        "city": {
                          "type": "string",
                          "example": "West Leo"
                        },
                        "state": {
                          "type": "string",
                          "example": "UT"
                        },
                        "zipcode": {
                          "type": "string",
                          "example": "82639-5329"
                        },
                        "country": {
                          "type": "string",
                          "example": "GGY"
                        },
                        "type": {
                          "type": "string",
                          "example": "home"
                        },
                        "is_primary": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "created_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        },
                        "updated_at": {
                          "type": "string",
                          "example": "2021-09-17T13:52:13.000000Z"
                        }
                      }
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "recurring_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        },
                        "total_contributions": {
                          "type": "integer",
                          "example": 0,
                          "default": 0
                        }
                      }
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "Warm Lead"
                      }
                    },
                    "custom_fields": {
                      "type": "array"
                    },
                    "archived_at": {},
                    "created_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    },
                    "updated_at": {
                      "type": "string",
                      "example": "2021-09-17T13:52:13+00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/tickets/{id}": {
      "get": {
        "summary": "Get a Ticket",
        "description": "Include an id to retrieve a specific ticket.",
        "operationId": "get-ticket",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the ticket.",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Ticket Succesfully Retrieved": {
                    "value": "{\n    \"id\": \"69002328A0001\",\n    \"id_suffix\": \"A0001\",\n    \"name\": \"John Doe\",\n    \"first_name\": \"John\",\n    \"last_name\": \"Doe\",\n    \"email\": \"Johndoe@gmail.com\",\n    \"phone\": \"555-555-5555\",\n    \"title\": \"General Admission\",\n    \"description\": \"Ticket applicable for the General Admission section of the Reunion Party.\",\n    \"price\": 50.00,\n    \"pdf\": \"https:://example.com\",\n    \"arrived_at\": \"2020-07-04 10:00:00\",\n    \"created_at\": \"2020-05-15 12:00:00\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "69002328A0001"
                    },
                    "id_suffix": {
                      "type": "string",
                      "example": "A0001"
                    },
                    "name": {
                      "type": "string",
                      "example": "John Doe"
                    },
                    "first_name": {
                      "type": "string",
                      "example": "John"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Doe"
                    },
                    "email": {
                      "type": "string",
                      "example": "Johndoe@gmail.com"
                    },
                    "phone": {
                      "type": "string",
                      "example": "555-555-5555"
                    },
                    "title": {
                      "type": "string",
                      "example": "General Admission"
                    },
                    "description": {
                      "type": "string",
                      "example": "Ticket applicable for the General Admission section of the Reunion Party."
                    },
                    "price": {
                      "type": "integer",
                      "example": 50,
                      "default": 0
                    },
                    "pdf": {
                      "type": "string",
                      "example": "https:://example.com"
                    },
                    "arrived_at": {
                      "type": "string",
                      "example": "2020-07-04 10:00:00"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2020-05-15 12:00:00"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/plans": {
      "get": {
        "summary": "Get Plans",
        "description": "Retrieve a list of your plans. Include an id to retrieve a specific plan.",
        "operationId": "get-all-plans",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Cake succesffuly retrieved.": {
                    "value": "{\n  \"data\": [\n    {\n      \"id\": \"ZaA4mWeZbwZTgXt7\",\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"email\": \"john.doe@example.com\",\n      \"phone\": \"609-555-1234\",\n      \"frequency\": \"monthly\",\n      \"status\": \"active\",\n      \"method\": \"card\",\n      \"amount\": 50.00,\n      \"fee_covered\": 1.80,\n      \"created_at\": \"2020-05-15 20:17:06\",\n      \"start_at\": \"2020-05-15 20:17:06\",\n      \"next_bill_date\": \"2020-06-15 00:00:00\"\n    }\n  ],\n  \"links\": {\n    \"first\": \"https://api.givebutter.com/v1/payouts?page=1\",\n    \"last\": \"https://api.givebutter.com/v1/payouts?page=1\",\n    \"prev\": null,\n    \"next\": null\n  },\n  \"meta\": {\n    \"current_page\": 1,\n    \"from\": 1,\n    \"last_page\": 1,\n    \"links\": [\n      {\n        \"url\": null,\n        \"label\": \"&laquo; Previous\",\n        \"active\": false\n      },\n      {\n        \"url\": \"https://api.givebutter.com/v1/payouts?page=1\",\n        \"label\": \"1\",\n        \"active\": true\n      },\n      {\n        \"url\": null,\n        \"label\": \"Next &raquo;\",\n        \"active\": false\n      }\n    ],\n    \"path\": \"https://api.givebutter.com/v1/payouts\",\n    \"per_page\": 20,\n    \"to\": 1,\n    \"total\": 1\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "ZaA4mWeZbwZTgXt7"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "John"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Doe"
                          },
                          "email": {
                            "type": "string",
                            "example": "john.doe@example.com"
                          },
                          "phone": {
                            "type": "string",
                            "example": "609-555-1234"
                          },
                          "frequency": {
                            "type": "string",
                            "example": "monthly"
                          },
                          "status": {
                            "type": "string",
                            "example": "active"
                          },
                          "method": {
                            "type": "string",
                            "example": "card"
                          },
                          "amount": {
                            "type": "integer",
                            "example": 50,
                            "default": 0
                          },
                          "fee_covered": {
                            "type": "number",
                            "example": 1.8,
                            "default": 0
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2020-05-15 20:17:06"
                          },
                          "start_at": {
                            "type": "string",
                            "example": "2020-05-15 20:17:06"
                          },
                          "next_bill_date": {
                            "type": "string",
                            "example": "2020-06-15 00:00:00"
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/payouts?page=1"
                        },
                        "last": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/payouts?page=1"
                        },
                        "prev": {},
                        "next": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "from": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "last_page": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "example": "&laquo; Previous"
                              },
                              "active": {
                                "type": "boolean",
                                "example": false,
                                "default": true
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "example": "https://api.givebutter.com/v1/payouts"
                        },
                        "per_page": {
                          "type": "integer",
                          "example": 20,
                          "default": 0
                        },
                        "to": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        },
                        "total": {
                          "type": "integer",
                          "example": 1,
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/payouts/{id}": {
      "get": {
        "summary": "Get a Payout",
        "description": "Use this endpoint including an id to retrieve a specific payout.",
        "operationId": "get-payout",
[...]
